*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
html, body{
  background-color: rgb(255, 255, 255);
  font-family: cursive;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 4;
}

.navbar .container{
  height: inherit;
  background-color: rgb(26, 9, 9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.navbar-menu{
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
 
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display:  inline-block; 
  color: white;
  text-decoration: none;
  padding: 24px;
  font-size: 25px;
  transition: all .1s ease-in-out;
}


.navbar-menu li a:hover {
  color: rgb(247, 159, 159);
}

.navbar-wrap{
  display: flex;
  flex-flow: row nowrap;
}

.menu{
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 6px;
  background-color: rgb(41, 14, 14);
  transition: all .1s ease-out;
}
.menu img{
  height: 40px;
  width: 45px;
}

.menu:hover{
  transform:scale(1.07);
  color: rgb(247, 159, 159);
  border-radius: 10px;
}

.navbar-LOGO{
  font-weight: 700px;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  transition: all .1s ease-in-out;
}
.head{
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/images/koshka-na-kolenyah.jpg);
  background-size: cover;
}
.head_text{
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px black;
  position: relative;
  z-index: 2;
}
.search_form{
  margin-top: 10px;
  background-color: white;
  border: 1px solid black; 
  border-radius: 20px;
  display: flex;
  padding-left: 20px;
}
.search_form_txt{
  border: none;
  border-radius: 20px;
  width: 500px;
  height: 30px;
  outline: none;
}
.overlay{
  width: 100%;
  height: 70vh;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.block{
  background-color: rgb(0, 0, 0);
  display: block;
  width: 100%;
  margin-top: -900px;
  padding-top: 1000px;
  height: auto;
  max-height: 900px;
}

main{
  position: relative;
  background-color: rgb(255, 255, 255);
  display: block;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
}

.staff{
  background-color: rgb(255, 255, 255);
  width: 94%;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px
  
  
}
.staff_menu{
  width: inherit; 
  padding-right: 0px;
  list-style-type: none;
  margin-left: 40px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
}

.staff_menu li{
  color: white;
  position: relative;
  min-width: 320px;
  display: inline-block;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  width: calc(20% - 20px);
  min-height: 400px;
  height: auto;
  margin-left: 30px;
  transition: all .2s ease-in-out;
}
.staff_menu li:hover{
  transform: scale(1.2);
  z-index: 3;
}
.staff_menu li a {
  font-size: 20px;
  position: relative;
  color: white;
  margin-left: 10px;
  margin-top: 10px
  
  
}

.staff_menu li p {
  font-family:sans-serif;
  color: green;
  font-size: 25px;
  text-transform: uppercase;
}

.staff_menu li img{
  display: flex;
  width: 100%;
  min-width: 310px;
  height: 250px;
  border-radius: 20px;
  background-size: cover;
}

.staff_menu li video{
  width: 100%;
  min-width: 310px;
  height: 250px;
  border-radius: 20px;
}

.staff_menu li a{
  display: block;
  color: black;
  text-decoration: none;
}

.pages{
  margin-top: 50px;
  margin-left: 50%;
  list-style: none;
}

.pages li{
  display: inline-block;
  color: black;
  margin-right: 5px;
  
}
.pages li a{
  
  color: black;
  text-decoration: none;
}
.pages li a:hover{
  color: rgb(248, 131, 131);
}


footer{
  min-width: 100vh;
  height: auto;
  padding-bottom: 10px;
  background-color: rgb(12, 4, 4);
}

.foot_wrap{
  display: flex;
  flex-flow: row nowrap;
}

.foot_menu{
  font-size: 20px;
  color: white;
  margin-top: 30px;
  margin-left: 50px;
  list-style: none;

}

.foot_menu li {
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

.foot_menu li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all .07s ease-in-out;
}


.foot_menu li a:hover {
  color: rgb(247, 159, 159);
  text-decoration: underline;
}

#hr1{
 margin-top: 30px;
}
